.my-logo-left {
content: "";
    position: absolute;
    top: 15px;
    left:   20px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("logo_puc.png");
}

.my-logo-right {
content: "";
    position: absolute;
    top: 15px;
    right:  8px;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("logo_puc.png");
}

.justif {
  text-align: justify;
  text-justify: inter-word;
}